@model TaskSystem.Models.UserTask

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>UserTask</legend>

    <div class="display-label">UserId</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserId)
    </div>

    <div class="display-label">Description</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">TaskPriority</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TaskPriority)
    </div>

    <div class="display-label">DueDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DueDate)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
