@model IEnumerable<TaskSystem.Models.UserTask>

@{
    ViewBag.Title = "Details";
    if (Request.IsAjaxRequest())
    {
        Layout = null;
    }
    else
    {
        <script src="../../Scripts/jquery.unobtrusive-ajax.min.js" type="text/javascript"></script>
    }
}

<div id="resultsDiv">

@Html.ValidationSummary(true, "An error occured!")

<h2>Details for @ViewBag.UserName</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
             @Ajax.ActionLink("Due date", "Details", new { sortColumn = "date" }, new AjaxOptions() { UpdateTargetId = "resultsDiv" })           
        </th>
        <th>
             @Ajax.ActionLink("Priority", "Details", new { sortColumn = "priority" }, new AjaxOptions() { UpdateTargetId = "resultsDiv" })    

        </th>
        <th>
            @Ajax.ActionLink("Description", "Details", new { sortColumn = "description" }, new AjaxOptions() { UpdateTargetId = "resultsDiv" })                
        </th>
        <th></th>
    </tr>
    
    
@foreach (var item in Model)
{
    <tr>
       
        <td>       
            @Html.DisplayFor(modelItem => item.DueDate)
        </td>
         <td>
            @Html.DisplayFor(modelItem => item.TaskPriority)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |        
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>
}
</table>
</div>
